{% extends "master_Page.html" %}


{% block content %} 
        <h1 class="Title">Encyclopedia of endemic animals of the new island</h1>
        <div class="quotes">
            <h3 class="Latin">"Ibi ivi, vidi, et cum mille mirabilibus naturae reveni."<h3>
            <h4 class="Author">Ciceron Ciciceronis Ciceronus</h3>
            <h4 class="English"> I came, I saw, and i came back with one thousand nature wonders."</h4>
        </div>
        <div class="Text">
            <p> Welcome to my web encyclopedia !</p>
            <p>I'm Patrick Pamprelune, me and my colleagues share you the index of strange 
                but so beautiful animals of the new island.
                In 12 november 2022, an irish fishing boat, after a very powerful storm, run aground
                on the shore of an unknow island. When an international coastguard rescue the crew and return to their homeland, 
                they spoke about their discoverie. No one believe about their story, but for us, scientific, we want to know if this island exist. 
                We organize an international team and we went to reach this with the coordinates found in the captain's journal.
                We left the coast the 7 january 2023. After some days on our scientific ship we droped anchor close to the island and start the investigation.
                When we arrived there with my teammates, during a lot of month, despite
                heat, rain and storm, we observed the wildlife and note our observations.
                After that, when we go back to our laboratory we've start to write and index
                our notes to share for the rest of the world the new knowledge about the endemic
                animals of the island.</p>
            <p>I sure that you think, why this territory has no name ? <br>
                 Well, to be honest, we are not aggree with the name but one day perhaps...</p>
        <div> 
{% endblock %}