{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'front.css' %}">
    <body class="home">
        <div class="block">
            <div class="top">
                <img class="logos" src="{% static "Logos.png" %}" alt="Logos">
                <div class="title">
                    <h1 class="Titre">The encyclopediae of endemic wildlife</h1>
                </div>
                <div class="nav-bar">
                    <div>
                        <a href="/mons/home" class="btnNav">
                            Home
                        </a>
                        <a href="/mons/list" class="btnNav">
                            List
                        </a>
                    </div>
                </div>
                <div class="arrow">
                </div>
            </div>

            <div class="main">
                {%block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>