{% extends "master_Page.html" %}

{%block content %}
        <div ClassName="navSort">
            <div id="AlpaSort">
                <h5>Aphabetical order</h5>
                <button class="btn btn-primary">A - Z</button><br>
                <button class="btn btn-primary">Z - A</button>
            </div>
            <div>
                <h5>Animals types</h5>
                <a href="../list/mammals">
                    <button class="btn btn-primary">Mammal</button><br>
                </a>
                <button class="btn btn-primary">Reptile</button><br>
                <button class="btn btn-primary">Insect</button><br>
                <button class="btn btn-primary">Bird</button><br>
                <button class="btn btn-primary">Fish</button>
            </div>
            <div>

            </div>
            <div>
        </div>

        <ul>
            {% for x in mons %}
                <li><a href="details/{{ x.id }}">  {{x.monsName}}</a></li>
            {% endfor %}
        </ul>
        
{% endblock %}