.home {
  background-image: url("landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  gap: 10px 10px;     
}

.block {
  background-color: rgb(139, 210, 149, 50%);
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.2fr 1fr;
  margin: 20px;
  border-radius: 30px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  box-shadow:10px 10px 135px 21px rgb(1, 20, 1);
}

.top {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 0.2fr;
  margin: 10px;
}

.image {
  background-image: url("Logos.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 2;
}

.title {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(251, 241, 224);
  text-align: center;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 50px;
  border-radius: 20px;
}

/* .Titre {
  transform: rotate(180deg);
} */

.nav-bar {
  grid-column-start: 1;
  grid-column-end: 4;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.btnNav {
  background-color: bisque;
  padding: 1fr;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.main {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 20px;
  background-color: rgb(251, 241, 224);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  border-radius: 30px;
}

.Text {
  border-style: solid;
  padding: 10px;
  text-align: center;
}