<!DOCTYPE html>
<html>
    <body>
        <h1>Encyclopedia of endemic animals of the new island</h1>
        <h3>Presentation<h3>
            <p> Welcome to my web encyclopedia !</p>
            <p>I'm Patrick Pamprelune, me and my colleagues share you the index of strange 
                but so beautiful animals of the new island.</p>
            <p> When we arrived there with my teammates, during a lot of month, despite
                heat, rain and storm, we observed the wildlife and note our observations.</p>
            <p>After that, when we go back to our laboratory we've start to write and index
                our note to share for the rest of the world the new knoledge about the endemic
                animals of the island.</p>
            <p>I sure that you think, why this territory has no name ?</p>
            <p> Well, to be honest, we are not aggree with the name but one day perhaps...</p> 
    </body>
</html>